/* General styling for the entire page */
body {
    overflow: hidden;
    background-image: url("../background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Styling for the stopwatch container */
.container {
    max-width:35%; 
    margin: 10% auto;
    border-radius: 6em; 
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #ffffff;
    text-align: center;
}

/* Styling for the heading */
.container h4 {
    margin-top: 2em;
    text-decoration: underline;
    color: #000000;
    font-family: sans-serif;
}

/* Styling for the timer display */
#timer {
    font-size: 2.5em;
    color: #000000;
    font-family: monospace;
}

/* Styling for the buttons */
button {
    margin: 1em;
    text-align: center;
    color: #DAD6D6;
    cursor: pointer;
    padding: 1em 2em;
    letter-spacing: 2px;
}

#start {
    background: #48633B;
    border: solid 2px #35492C;
    border-radius: 5px;
}

#stop {
    background: #721329;
    border: solid 2px #590F20;
    border-radius: 5px;
}

#reset {
    background: #564E58;
    border: solid 2px #3E383F;
    border-radius: 5px;
}


/* Media query for responsive design */
@media screen and (max-width: 580px) {
    .container {
        padding: 0.5em;
        margin: 2.5% auto; 
    }

    #timer {
        font-size: 2em;
    }

    button {
        font-size: 14px;
    } 
}
